@charset 'utf-8';

.login-box {
    width: 350px;
    background-color: #fff;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 3px 1px #ccc;

    padding: 50px 30px; /*여백주는거*/
    border-radius: 3px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h1 img {
    
    width: 100px;
}

.form-box ul li * {
    display: block; /*한줄에 하나씩차지하는것*/
}

.form-box ul li label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}

.form-box ul li input{
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 5px;
    border: 0; /*input에서 만든 선 지우기*/
    border: 1px solid #d7d7d7;
    outline: 0;
}

.form-box ul li button {
    width: 100%;
    border: 0;
    background-color: #c2202f;
    padding: 10px 0;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.form-box ul li input:focus {
    border: 1px solid #c2202f;
}

.login-text {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
}